<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="form-group">
        <label for="">Select the database you want to work on: *</label>
        <select [(ngModel)]="databaseName" name="databaseName" id="databaseName" class="form-control" (change)="getTables()">
          <option>&nbsp;---</option>
          @for (database of databaseList; track database) {
            <option>{{database}}</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="">Select the table your index is stored in: *</label>
        <select [(ngModel)]="tableName" name="tableName" id="tableName" class="form-control" (change)="getIndexes()">
          <option>&nbsp;---</option>
          @for (table of tableList; track table) {
            <option>{{table}}</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="">Select the index you want to drop: *</label>
        <select [(ngModel)]="indexName" name="indexName" id="indexName" class="form-control">
          <option>&nbsp;---</option>
          @for (index of indexList; track index) {
            <option>{{index}}</option>
          }
        </select>
        <br>
        <button class="btn btn-outline-danger" type="button" (click)="dropIndex()">Drop index</button>
      </div>
    </div>
  </div>
</div>
