<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Gestor de base de datos</a>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <ul class="navbar-nav me-auto">
      @for(option of options; track option){
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{option.name}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @for(item of option.items; track item){
            <li><a class="dropdown-item" href="{{item.path}}">{{item.name}}</a></li>}
          </ul>
        </li>
      }
    </ul>
    <div class="d-flex justify-content-end">
      <a routerLink="/database" routerLinkActive="active" class="nav-link font-weight-bold"><span class="navbar-text">&plus; Bases de Datos&nbsp;&nbsp;&nbsp;</span></a>
    </div>
  </div>
</nav>
