.bg-dark-purple {
  background-color: #1D1965 !important;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav,
.navbar-dark .navbar-nav .dropdown-menu {
  color: #FFFFFF !important;
}

.navbar-dark .navbar-nav {
  background-color: #5A0099 !important;
  color: #FFFFFF !important;
}

.dropdown-item .dropdown-menu {
  background-color: #dbcce6 !important;
  color: rgb(101, 96, 107) !important;
}

.dropdown {
 background-color: #1D1965;
}
