.container {
  margin-top: 0px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


body {
  background-image: url("../../assets/57783.jpg");
  background-size: cover;
  background-position: center top;
}
